<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <!-- Ürün Resmi -->
      <img [src]="imageSrc" alt="{{product?.brand}}" class="img-fluid">
    </div>
    <div class="col-md-6">
      <!-- Ürün Bilgileri -->
      <h2>{{ product?.brand }}</h2>
      <p><strong>Kategori:</strong> {{ product?.categoryName }}</p>
      <p><strong>Marka:</strong> {{ product?.brand }}</p>
      <p><strong>Fiyat:</strong> {{ product?.price | currency }}</p>
      <p><strong>Stok:</strong> {{ product?.stock }}</p>
      <p><strong>Açıklama:</strong></p>
      <p>{{ product?.detail }}</p>
      <!-- İletişim veya Alışveriş Yapma Butonu -->
    </div>
  </div>
</div>
